.main {
    margin: 120px 0;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
}

.location span {
    font-size: 1.2em;
}

.gray {
    color: #8e8fab;
}

.center {
    text-align: center;
}
